.nav__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    color: black;
    cursor: pointer;
    margin-right: 30px;
}

.nav__item:hover {
    color: brown;
}